body {
    background-color: #313131;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.card:hover {
    box-shadow: 5px 5px 5px 5px #222;
}
.cardsContainer {
    width: 90%;
}
@media screen and (max-width: 500px) {
    .cardsContainer {
        width: 98%;
    }
}
.cardsContainer .card{
    margin-top: 1rem;
}
.videoPlayer {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Orbitron";
    src: url("../webfonts/Orbitron-Regular.ttf");
}

.statsFont {
    font-size:2em;
    font-family: 'Orbitron';
    text-align: center;
}

#startFromSliderContent .slider-selection {
	background: #0275d8;
}
#startFromSliderContent .slider-handle {
	background: #0275d8;
}
